.cart {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 360px;
    /* border: 1px solid #000; */
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

.cart-header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid var(--grayish-blue);
    font-weight: 700;
}

.cart-list {
    padding: 1.5rem;
    width: 100%;
    text-align: center;
}

.cart-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-grayish-blue);
}

.cart-item:not(:nth-child(1)) {
    margin-top: 1rem;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-item-infos {
    display: flex;
    flex-direction: column;
}

.cart-item-total {
    margin-left: 0.5rem;
    color: #000;
    font-weight: 700;
}

.cart .bin {
    cursor: pointer;
}

.cart button {
    height: 3.5rem;
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 8px;
    border: none;
    background-color: var(--orange);
    font-weight: 700;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.cart-empty {
    min-height: 10rem;
    font-weight: 700;
    color: var(--dark-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .cart {
        width: 95%;
        /* transform: translateX(-81%); */
        top: 120%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .cart {
        top: 120%;
        left: 85%;
        transform: translateX(-70%);
    }
}

@media screen and (min-width: 1281px) {
    .cart {
        /* top: 120%; */
        left: 100%;
        transform: translateX(-80%);
        /* transform: translateX(-70%); */
    }
}