/* Conteneur principal */
.product-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Titre produit */
h1 {
    font-size: clamp(30px, 5vw, 44px);
    line-height: 1.1;
    margin-bottom: 2rem;
}

/* Conteneur infios produits */
.product-infos {
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Descriptif */
.product-desc {
    color: var(--dark-grayish-blue);
    line-height: 1.6;
    margin-bottom: 2rem;
}

/* Encadré prix */
.current-price-grp {
    display: flex;
}

/* Encadré boutons */
.buttons-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Boutons quantité */
.btn-qty {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: var(--light-grayish-blue);
    flex-grow: 1;
}

.btn-qty .minus,
.btn-qty .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.4rem;
    width: 2.5rem;
    cursor: pointer;
}

.btn-qty svg path {
    fill: var(--orange);
}

/* Bouton ajout panier */
.btn-cta-box {
    display: flex;
    flex-grow: 2;
}

.btn-cta path {
    fill: #fff;
}

.btn-cta-txt {
    margin-left: 1rem;
}

/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .product-infos {
        max-width: 100%;
        padding-inline: 5vw;
    }

    .pricing-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .old-price {
        margin-top: 0;
    }

    .buttons-box .btn-qty {
        width: 100%;
    }

    .buttons-box .btn-cta {
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .product-container {
        padding-inline: 2vw;
    }

    .product-infos {
        max-width: 50%;
    }

    .pricing-box {
        max-width: 40%;
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    .product-container {
        padding-inline: 0;
    }
}
